header{
    background-color: rgb(255, 1, 1);

}
footer{
    background-color: rgb(255, 1, 1);
}

.footer-columns{
    display: flex;
}

.footer-column{
    flex: 50%;
    margin: 20px;
}